body {
    background-image: url(../css/images/parchmentbackground.jpg);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Pixelify Sans', cursive;
    color: #afa7a7;
}

/*...........................................Navbar*/
#offcanvasDarkNavbar {
    background-color: rgba(0, 0, 0, 0.8);
}

#offcanvasDarkNavbar,
.btn-close-white,
.nav-item a {
    color: inherit;
}

.nav-item a:hover {
    color: #600e0e;
}

/*..........................................Modal*/
.modal-content {
    background-color: rgba(0, 0, 0, 0.8);
    color: #afa7a7;
}

/*.........................................Content*/
h1 {
    color: black;
}

/*..........................................Footer*/
.copyright {
    display: inline;
    padding-left: 5%;
    color: black;
    font-family: sans-serif;
}

.fa-solid {
    font-size: x-large;
}

.socials {
    display: inline;
    float: right;
    padding-right: 5%;
    letter-spacing: 10px;
    font-size: x-large;
}

.socials a {
    color: black;
}

.linked:hover {
    color: #0072b1;
}

.git:hover {
    color: #6e5494;
}